DEBUG=True
SECRET_KEY=your_secret_key_here

DB_NAME=amping
DB_HOST=localhost
DB_USER=amping_user
DB_PASSWORD=Wabbafet
DB_PORT=5432

JWT_SHARED_SECRET="secret"
MODAL_API_URL="https://mymodel-serve.modal.run"