DEBUG=True
SECRET_KEY=your_secret_key_here

DB_NAME=amping
DB_HOST=localhost
DB_USER=amping_user
DB_PASSWORD=Wabbafet
DB_PORT=5432

JWT_SHARED_SECRET="secret"
MODAL_API_URL="https://mymodel-serve.modal.run"

VIDEO_BUCKET_ENDPOINT_URL=https://example/storage/v1/s3
VIDEO_BUCKET_ACCESS_KEY_ID=test_access_key_id
VIDEO_BUCKET_SECRET_ACCESS_KEY=test_secret_access_key
VIDEO_BUCKET_REGION=my-region
VIDEO_BUCKET_NAME=your-bucket-name
VIDEO_BUCKET_BASE_PUBLIC_URL=https://example.storage.supabase.co/object/public/your-bucket-name